<li role="presentation" class="active">
    @Html.ActionLink("Multiple X-Axes", "MultipleXAxes", "HoTos")
</li>
<li role="presentation" class="">
    @Html.ActionLink("Chart inside JavaScript function", "ChartInFunction", "HoTos")
</li>
<li role="presentation" class="">
    @Html.ActionLink("Multiple charts in one page", "MultipleCharts", "HoTos")
</li>
<li role="presentation" class="">
    @Html.ActionLink("Disable Animation", "DisableAnimation", "HoTos")
</li>
<li role="presentation" class="">
@Html.ActionLink("EaseOutBounce Effect", "EaseOutBounceEffect", "HoTos")
<li role="presentation" class="">@Html.ActionLink("Bind Decimal Values", "BindDecimalValues", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Use .NET Globalization", "UseDotNetGlobalization", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Bind Data From Dictionary", "BindDataFromDictionary", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Bind Data From Object List", "BindDataFromObjectList", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Custom Theme", "CustomTheme", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Tooltip Crosshairs", "TooltipCrosshairs", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Crosshairs With Boolean Values", "CrosshairsWithBooleanValues", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Theming The Reset Button", "ThemingTheResetButton", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Plot Band Events", "PlotBandEvents", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Transparent Background", "TransparentBackground", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Pie Chart With Events", "PieChartWithEvents", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Click Event on Series Point with URL", "SeriesPointEventsClickUrl", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Columns with datetime", "ColumnWithDatetime", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Split chart container and Javascript", "SplitChartContainerAndJavascript", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Point name as text for number", "PointNameAsTextForNumber", "HoTos")</li>
<li role="presentation" class="">@Html.ActionLink("Map Data To Heatmap", "MapDataToHeatMap", "HoTos")</li>