<li role="presentation" class="active">
    @Html.ActionLink("Multiple X-Axes", "MultipleXAxes", "HowTos")
</li>
<li role="presentation" class="">
    @Html.ActionLink("Chart inside JavaScript function", "ChartInFunction", "HowTos")
</li>
<li role="presentation" class="">
    @Html.ActionLink("Multiple charts in one page", "MultipleCharts", "HowTos")
</li>
<li role="presentation" class="">
    @Html.ActionLink("Disable Animation", "DisableAnimation", "HowTos")
</li>
<li role="presentation" class="">
@Html.ActionLink("EaseOutBounce Effect", "EaseOutBounceEffect", "HowTos")
<li role="presentation" class="">@Html.ActionLink("Bind Decimal Values", "BindDecimalValues", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Use .NET Globalization", "UseDotNetGlobalization", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Bind Data From Dictionary", "BindDataFromDictionary", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Bind Data From Object List", "BindDataFromObjectList", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Custom Theme", "CustomTheme", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Tooltip Crosshairs", "TooltipCrosshairs", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Crosshairs With Boolean Values", "CrosshairsWithBooleanValues", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Theming The Reset Button", "ThemingTheResetButton", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Plot Band Events", "PlotBandEvents", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Transparent Background", "TransparentBackground", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Pie Chart With Events", "PieChartWithEvents", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Click Event on Series Point with URL", "SeriesPointEventsClickUrl", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Columns with datetime", "ColumnWithDatetime", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Split chart container and Javascript", "SplitChartContainerAndJavascript", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Point name as text for number", "PointNameAsTextForNumber", "HowTos")</li>
<li role="presentation" class="">@Html.ActionLink("Map Data To Heatmap", "MapDataToHeatMap", "HowTos")</li>